body {
	background-color: #E3FFFF;
}

.main-contents {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
	margin-right: 20px;
	background-color: white;
	height: 100%;
	width: 100%;
}

div h1{
	margin:0 0 26px 0;
	padding-top:28px;
	text-align:center;
}
ul li {
	list style none;
}
body{
	background-color: #f3f2e9;
	color #5f5039;
	line-height:1.5;
}
label {
	margin-right 10px;
	width:100px;
	float:left;
}
h1 {
	background-color: #008800;
	color:#FFFFFF;
}

.header {
	text-align: right;
}

.copyright {
	width: 250px;
	margin: 0 auto;
}

.errorMessages {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	color: red;
}